<!DOCTYPE html>
<html>
  <head>
    <title>World Speech Day</title>
    <meta charset="UTF-8">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.js"></script>
    <link rel="stylesheet" media="screen" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/semantic.min.css">
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" media="screen" href="style.css">
  </head>
  <body>
  <div class="ui black horizontal segment" id="banner">
        World Speech Day!
  </div>
  <div class="spacer"><h4><a href="http://worldspeechday.voxgig.com">worldspeechday.voxgig.com</a></h4></div>

    <div class="ui raised stackable center aligned grid" id='panel' align:"center">
        <div class="ui video">
            <iframe id='kExkpZiMNh4' src="https://www.youtube.com/embed/kExkpZiMNh4?enablejsapi=1" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="ui video">
            <iframe id='XOacA3RYrXk' src="https://www.youtube.com/embed/XOacA3RYrXk?enablejsapi=1"  frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
        </div>
        <div class = "ui video">
            <iframe id='NuIAYHVeFYs' src="https://www.youtube.com/embed/NuIAYHVeFYs?enablejsapi=1" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="ui video">
            <iframe id='hVATVF-816U' src="https://www.youtube.com/embed/hVATVF-816U?enablejsapi=1" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="ui video">
            <iframe id='kExkpZiMNh4' src="https://www.youtube.com/embed/kExkpZiMNh4?enablejsapi=1" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="ui video">
            <iframe id='XOacA3RYrXk' src="https://www.youtube.com/embed/XOacA3RYrXk?enablejsapi=1"  frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
        </div>
        <div class = "ui video">
            <iframe id='NuIAYHVeFYs' src="https://www.youtube.com/embed/NuIAYHVeFYs?enablejsapi=1" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="ui video">
            <iframe id='hVATVF-816U' src="https://www.youtube.com/embed/hVATVF-816U?enablejsapi=1" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="ui video">
            <iframe id='kExkpZiMNh4' src="https://www.youtube.com/embed/kExkpZiMNh4?enablejsapi=1" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="ui video">
            <iframe id='XOacA3RYrXk' src="https://www.youtube.com/embed/XOacA3RYrXk?enablejsapi=1"  frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
        </div>
        <div class = "ui video">
            <iframe id='NuIAYHVeFYs' src="https://www.youtube.com/embed/NuIAYHVeFYs?enablejsapi=1" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="ui video">
            <iframe id='hVATVF-816U' src="https://www.youtube.com/embed/hVATVF-816U?enablejsapi=1" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="ui video">
            <iframe id='kExkpZiMNh4' src="https://www.youtube.com/embed/kExkpZiMNh4?enablejsapi=1" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="ui video">
            <iframe id='XOacA3RYrXk' src="https://www.youtube.com/embed/XOacA3RYrXk?enablejsapi=1"  frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
        </div>
        <div class = "ui video">
            <iframe id='NuIAYHVeFYs' src="https://www.youtube.com/embed/NuIAYHVeFYs?enablejsapi=1" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="ui video">
            <iframe id='hVATVF-816U' src="https://www.youtube.com/embed/hVATVF-816U?enablejsapi=1" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="ui video">
            <iframe id='kExkpZiMNh4' src="https://www.youtube.com/embed/kExkpZiMNh4?enablejsapi=1" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="ui video">
            <iframe id='XOacA3RYrXk' src="https://www.youtube.com/embed/XOacA3RYrXk?enablejsapi=1"  frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
        </div>
        <div class = "ui video">
            <iframe id='NuIAYHVeFYs' src="https://www.youtube.com/embed/NuIAYHVeFYs?enablejsapi=1" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="ui video">
            <iframe id='hVATVF-816U' src="https://www.youtube.com/embed/hVATVF-816U?enablejsapi=1" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="ui video">
            <iframe id='kExkpZiMNh4' src="https://www.youtube.com/embed/kExkpZiMNh4?enablejsapi=1" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="ui video">
            <iframe id='XOacA3RYrXk' src="https://www.youtube.com/embed/XOacA3RYrXk?enablejsapi=1"  frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
        </div>
        <div class = "ui video">
            <iframe id='NuIAYHVeFYs' src="https://www.youtube.com/embed/NuIAYHVeFYs?enablejsapi=1" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="ui video">
            <iframe id='hVATVF-816U' src="https://www.youtube.com/embed/hVATVF-816U?enablejsapi=1" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="ui video">
            <iframe id='kExkpZiMNh4' src="https://www.youtube.com/embed/kExkpZiMNh4?enablejsapi=1" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="ui video">
            <iframe id='XOacA3RYrXk' src="https://www.youtube.com/embed/XOacA3RYrXk?enablejsapi=1"  frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
        </div>
        <div class = "ui video">
            <iframe id='NuIAYHVeFYs' src="https://www.youtube.com/embed/NuIAYHVeFYs?enablejsapi=1" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="ui video">
            <iframe id='hVATVF-816U' src="https://www.youtube.com/embed/hVATVF-816U?enablejsapi=1" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="ui video">
            <iframe id='kExkpZiMNh4' src="https://www.youtube.com/embed/kExkpZiMNh4?enablejsapi=1" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="ui video">
            <iframe id='XOacA3RYrXk' src="https://www.youtube.com/embed/XOacA3RYrXk?enablejsapi=1"  frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
        </div>
        <div class = "ui video">
            <iframe id='NuIAYHVeFYs' src="https://www.youtube.com/embed/NuIAYHVeFYs?enablejsapi=1" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="ui video">
            <iframe id='hVATVF-816U' src="https://www.youtube.com/embed/hVATVF-816U?enablejsapi=1" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
        </div>
        
      </div>
    <script async src="https://www.youtube.com/iframe_api"></script>
    <script>
        function onYouTubeIframeAPIReady() {
            const videos = document.getElementsByTagName('iframe')
            for (var i = 0, ilen = videos.length; i < ilen; i++) {
                let player;
                player = new YT.Player(videos[i].id, {
                    videoId: videos[i].id, 
                    events: {
                        onReady: function(e) {
                            e.target.playVideo();
                            e.target.mute();
                        }
                    }
                });
            }
            $(".spacer, #banner").css("height", $(".spacer").height());
        }
    </script>
  </body>
</html>
